//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 11 19:55:08 2025
//! **************************************************************************

SCHEMATIC START;
COMP "DioPort<100>" LOCATE = SITE "A5" LEVEL 1;
COMP "DioPort<101>" LOCATE = SITE "F9" LEVEL 1;
COMP "DioPort<102>" LOCATE = SITE "F10" LEVEL 1;
COMP "DioPort<110>" LOCATE = SITE "T9" LEVEL 1;
COMP "DioPort<103>" LOCATE = SITE "G9" LEVEL 1;
COMP "DioPort<111>" LOCATE = SITE "C11" LEVEL 1;
COMP "DioPort<104>" LOCATE = SITE "D9" LEVEL 1;
COMP "DioPort<112>" LOCATE = SITE "T10" LEVEL 1;
COMP "DioPort<120>" LOCATE = SITE "F12" LEVEL 1;
COMP "DioPort<105>" LOCATE = SITE "N9" LEVEL 1;
COMP "DioPort<113>" LOCATE = SITE "E12" LEVEL 1;
COMP "DioPort<121>" LOCATE = SITE "M11" LEVEL 1;
COMP "DioPort<106>" LOCATE = SITE "N10" LEVEL 1;
COMP "DioPort<114>" LOCATE = SITE "D11" LEVEL 1;
COMP "DioPort<122>" LOCATE = SITE "L12" LEVEL 1;
COMP "DioPort<130>" LOCATE = SITE "C14" LEVEL 1;
COMP "DioPort<107>" LOCATE = SITE "R10" LEVEL 1;
COMP "DioPort<115>" LOCATE = SITE "E11" LEVEL 1;
COMP "DioPort<123>" LOCATE = SITE "N11" LEVEL 1;
COMP "DioPort<131>" LOCATE = SITE "E13" LEVEL 1;
COMP "DioPort<108>" LOCATE = SITE "M10" LEVEL 1;
COMP "DioPort<116>" LOCATE = SITE "D12" LEVEL 1;
COMP "DioPort<124>" LOCATE = SITE "K12" LEVEL 1;
COMP "DioPort<132>" LOCATE = SITE "C13" LEVEL 1;
COMP "DioPort<140>" LOCATE = SITE "H13" LEVEL 1;
COMP "DioPort<109>" LOCATE = SITE "C12" LEVEL 1;
COMP "DioPort<117>" LOCATE = SITE "G11" LEVEL 1;
COMP "DioPort<125>" LOCATE = SITE "P11" LEVEL 1;
COMP "DioPort<133>" LOCATE = SITE "G14" LEVEL 1;
COMP "DioPort<141>" LOCATE = SITE "L14" LEVEL 1;
COMP "DioPort<150>" LOCATE = SITE "B16" LEVEL 1;
COMP "DioPort<118>" LOCATE = SITE "F11" LEVEL 1;
COMP "DioPort<126>" LOCATE = SITE "A14" LEVEL 1;
COMP "DioPort<134>" LOCATE = SITE "F13" LEVEL 1;
COMP "DioPort<142>" LOCATE = SITE "L13" LEVEL 1;
COMP "DioPort<151>" LOCATE = SITE "E16" LEVEL 1;
COMP "DioPort<119>" LOCATE = SITE "H12" LEVEL 1;
COMP "DioPort<127>" LOCATE = SITE "R11" LEVEL 1;
COMP "DioPort<135>" LOCATE = SITE "G13" LEVEL 1;
COMP "DioPort<143>" LOCATE = SITE "M13" LEVEL 1;
COMP "DioPort<152>" LOCATE = SITE "A15" LEVEL 1;
COMP "DioPort<160>" LOCATE = SITE "H15" LEVEL 1;
COMP "DioPort<128>" LOCATE = SITE "B14" LEVEL 1;
COMP "DioPort<136>" LOCATE = SITE "F14" LEVEL 1;
COMP "DioPort<144>" LOCATE = SITE "K14" LEVEL 1;
COMP "DioPort<145>" LOCATE = SITE "N14" LEVEL 1;
COMP "DioPort<153>" LOCATE = SITE "G16" LEVEL 1;
COMP "DioPort<161>" LOCATE = SITE "M16" LEVEL 1;
COMP "DioPort<129>" LOCATE = SITE "D14" LEVEL 1;
COMP "DioPort<137>" LOCATE = SITE "J13" LEVEL 1;
COMP "DioPort<146>" LOCATE = SITE "M14" LEVEL 1;
COMP "DioPort<154>" LOCATE = SITE "F16" LEVEL 1;
COMP "DioPort<162>" LOCATE = SITE "L15" LEVEL 1;
COMP "DioPort<170>" LOCATE = SITE "D17" LEVEL 1;
COMP "DioPort<138>" LOCATE = SITE "H14" LEVEL 1;
COMP "DioPort<147>" LOCATE = SITE "T13" LEVEL 1;
COMP "DioPort<155>" LOCATE = SITE "H16" LEVEL 1;
COMP "DioPort<163>" LOCATE = SITE "N15" LEVEL 1;
COMP "DioPort<171>" LOCATE = SITE "F18" LEVEL 1;
COMP "DioPort<139>" LOCATE = SITE "K13" LEVEL 1;
COMP "DioPort<148>" LOCATE = SITE "P16" LEVEL 1;
COMP "DioPort<156>" LOCATE = SITE "F15" LEVEL 1;
COMP "DioPort<164>" LOCATE = SITE "L16" LEVEL 1;
COMP "DioPort<172>" LOCATE = SITE "D18" LEVEL 1;
COMP "DioPort<180>" LOCATE = SITE "J18" LEVEL 1;
COMP "DioPort<149>" LOCATE = SITE "C15" LEVEL 1;
COMP "DioPort<157>" LOCATE = SITE "K16" LEVEL 1;
COMP "DioPort<165>" LOCATE = SITE "N16" LEVEL 1;
COMP "DioPort<173>" LOCATE = SITE "H18" LEVEL 1;
COMP "DioPort<181>" LOCATE = SITE "N18" LEVEL 1;
COMP "DioPort<158>" LOCATE = SITE "J16" LEVEL 1;
COMP "DioPort<166>" LOCATE = SITE "C17" LEVEL 1;
COMP "DioPort<174>" LOCATE = SITE "G18" LEVEL 1;
COMP "DioPort<182>" LOCATE = SITE "M18" LEVEL 1;
COMP "DioPort<190>" LOCATE = SITE "T17" LEVEL 1;
COMP "DioPort<159>" LOCATE = SITE "K15" LEVEL 1;
COMP "DioPort<167>" LOCATE = SITE "P15" LEVEL 1;
COMP "DioPort<175>" LOCATE = SITE "H17" LEVEL 1;
COMP "DioPort<183>" LOCATE = SITE "N17" LEVEL 1;
COMP "DioPort<191>" LOCATE = SITE "U17" LEVEL 1;
COMP "DioPort<168>" LOCATE = SITE "C18" LEVEL 1;
COMP "DioPort<176>" LOCATE = SITE "F17" LEVEL 1;
COMP "DioPort<184>" LOCATE = SITE "L17" LEVEL 1;
COMP "DioPort<192>" LOCATE = SITE "T18" LEVEL 1;
COMP "DioPort<169>" LOCATE = SITE "E18" LEVEL 1;
COMP "DioPort<177>" LOCATE = SITE "K17" LEVEL 1;
COMP "DioPort<185>" LOCATE = SITE "P18" LEVEL 1;
COMP "DioPort<178>" LOCATE = SITE "K18" LEVEL 1;
COMP "DioPort<186>" LOCATE = SITE "U3" LEVEL 1;
COMP "DioPort<179>" LOCATE = SITE "L18" LEVEL 1;
COMP "DioPort<187>" LOCATE = SITE "P17" LEVEL 1;
COMP "DioPort<188>" LOCATE = SITE "T5" LEVEL 1;
COMP "DioPort<189>" LOCATE = SITE "U18" LEVEL 1;
COMP "FPGARD" LOCATE = SITE "T4" LEVEL 1;
COMP "FPGAWR" LOCATE = SITE "V4" LEVEL 1;
COMP "DioPort<10>" LOCATE = SITE "L2" LEVEL 1;
COMP "DioPort<11>" LOCATE = SITE "K2" LEVEL 1;
COMP "DioPort<12>" LOCATE = SITE "M1" LEVEL 1;
COMP "DioPort<20>" LOCATE = SITE "G1" LEVEL 1;
COMP "DioPort<13>" LOCATE = SITE "H2" LEVEL 1;
COMP "DioPort<21>" LOCATE = SITE "C2" LEVEL 1;
COMP "DioPort<14>" LOCATE = SITE "J1" LEVEL 1;
COMP "DioPort<22>" LOCATE = SITE "D1" LEVEL 1;
COMP "DioPort<30>" LOCATE = SITE "P3" LEVEL 1;
COMP "DioPort<15>" LOCATE = SITE "H1" LEVEL 1;
COMP "DioPort<23>" LOCATE = SITE "C1" LEVEL 1;
COMP "DioPort<31>" LOCATE = SITE "N3" LEVEL 1;
COMP "DioPort<16>" LOCATE = SITE "K1" LEVEL 1;
COMP "DioPort<24>" LOCATE = SITE "D2" LEVEL 1;
COMP "DioPort<32>" LOCATE = SITE "P4" LEVEL 1;
COMP "DioPort<40>" LOCATE = SITE "K3" LEVEL 1;
COMP "DioPort<17>" LOCATE = SITE "F1" LEVEL 1;
COMP "DioPort<25>" LOCATE = SITE "A3" LEVEL 1;
COMP "DioPort<33>" LOCATE = SITE "L3" LEVEL 1;
COMP "DioPort<41>" LOCATE = SITE "F3" LEVEL 1;
COMP "DioPort<50>" LOCATE = SITE "B3" LEVEL 1;
COMP "DioPort<18>" LOCATE = SITE "F2" LEVEL 1;
COMP "DioPort<26>" LOCATE = SITE "A2" LEVEL 1;
COMP "DioPort<34>" LOCATE = SITE "L4" LEVEL 1;
COMP "DioPort<42>" LOCATE = SITE "F4" LEVEL 1;
COMP "DioPort<51>" LOCATE = SITE "M5" LEVEL 1;
COMP "DioPort<19>" LOCATE = SITE "E1" LEVEL 1;
COMP "DioPort<27>" LOCATE = SITE "A4" LEVEL 1;
COMP "DioPort<35>" LOCATE = SITE "K4" LEVEL 1;
COMP "DioPort<43>" LOCATE = SITE "E4" LEVEL 1;
COMP "DioPort<52>" LOCATE = SITE "B4" LEVEL 1;
COMP "DioPort<60>" LOCATE = SITE "J6" LEVEL 1;
COMP "DioPort<28>" LOCATE = SITE "B2" LEVEL 1;
COMP "DioPort<36>" LOCATE = SITE "M3" LEVEL 1;
COMP "DioPort<44>" LOCATE = SITE "G3" LEVEL 1;
COMP "DioPort<53>" LOCATE = SITE "K6" LEVEL 1;
COMP "DioPort<61>" LOCATE = SITE "E6" LEVEL 1;
COMP "DioPort<29>" LOCATE = SITE "N4" LEVEL 1;
COMP "DioPort<37>" LOCATE = SITE "H4" LEVEL 1;
COMP "DioPort<45>" LOCATE = SITE "D3" LEVEL 1;
COMP "DioPort<54>" LOCATE = SITE "L5" LEVEL 1;
COMP "DioPort<62>" LOCATE = SITE "F5" LEVEL 1;
COMP "DioPort<70>" LOCATE = SITE "P8" LEVEL 1;
COMP "DioPort<38>" LOCATE = SITE "J3" LEVEL 1;
COMP "DioPort<46>" LOCATE = SITE "D4" LEVEL 1;
COMP "DioPort<55>" LOCATE = SITE "K5" LEVEL 1;
COMP "DioPort<63>" LOCATE = SITE "D6" LEVEL 1;
COMP "DioPort<71>" LOCATE = SITE "N8" LEVEL 1;
COMP "DioPort<39>" LOCATE = SITE "H3" LEVEL 1;
COMP "DioPort<47>" LOCATE = SITE "C4" LEVEL 1;
COMP "DioPort<56>" LOCATE = SITE "L6" LEVEL 1;
COMP "DioPort<64>" LOCATE = SITE "F6" LEVEL 1;
COMP "DioPort<72>" LOCATE = SITE "R7" LEVEL 1;
COMP "DioPort<80>" LOCATE = SITE "H7" LEVEL 1;
COMP "DioPort<48>" LOCATE = SITE "E3" LEVEL 1;
COMP "DioPort<49>" LOCATE = SITE "N6" LEVEL 1;
COMP "DioPort<57>" LOCATE = SITE "H5" LEVEL 1;
COMP "DioPort<65>" LOCATE = SITE "B6" LEVEL 1;
COMP "DioPort<73>" LOCATE = SITE "L7" LEVEL 1;
COMP "DioPort<81>" LOCATE = SITE "D8" LEVEL 1;
COMP "DioPort<58>" LOCATE = SITE "H6" LEVEL 1;
COMP "DioPort<66>" LOCATE = SITE "C5" LEVEL 1;
COMP "DioPort<74>" LOCATE = SITE "M8" LEVEL 1;
COMP "DioPort<82>" LOCATE = SITE "E7" LEVEL 1;
COMP "DioPort<90>" LOCATE = SITE "B9" LEVEL 1;
COMP "DioPort<59>" LOCATE = SITE "G6" LEVEL 1;
COMP "DioPort<67>" LOCATE = SITE "A6" LEVEL 1;
COMP "DioPort<75>" LOCATE = SITE "J7" LEVEL 1;
COMP "DioPort<83>" LOCATE = SITE "C7" LEVEL 1;
COMP "DioPort<91>" LOCATE = SITE "B11" LEVEL 1;
COMP "DioPort<68>" LOCATE = SITE "C6" LEVEL 1;
COMP "DioPort<76>" LOCATE = SITE "N7" LEVEL 1;
COMP "DioPort<84>" LOCATE = SITE "E8" LEVEL 1;
COMP "DioPort<92>" LOCATE = SITE "A9" LEVEL 1;
COMP "DioPort<69>" LOCATE = SITE "P7" LEVEL 1;
COMP "DioPort<77>" LOCATE = SITE "F8" LEVEL 1;
COMP "DioPort<85>" LOCATE = SITE "A8" LEVEL 1;
COMP "DioPort<93>" LOCATE = SITE "A12" LEVEL 1;
COMP "DioPort<78>" LOCATE = SITE "G8" LEVEL 1;
COMP "DioPort<86>" LOCATE = SITE "C8" LEVEL 1;
COMP "DioPort<94>" LOCATE = SITE "B12" LEVEL 1;
COMP "DioPort<79>" LOCATE = SITE "F7" LEVEL 1;
COMP "DioPort<87>" LOCATE = SITE "B8" LEVEL 1;
COMP "DioPort<95>" LOCATE = SITE "A13" LEVEL 1;
COMP "DioPort<88>" LOCATE = SITE "A7" LEVEL 1;
COMP "DioPort<96>" LOCATE = SITE "A11" LEVEL 1;
COMP "DioPort<97>" LOCATE = SITE "C10" LEVEL 1;
COMP "DioPort<89>" LOCATE = SITE "A10" LEVEL 1;
COMP "DioPort<98>" LOCATE = SITE "A16" LEVEL 1;
COMP "DioPort<99>" LOCATE = SITE "C9" LEVEL 1;
COMP "FPGAGCLK0" LOCATE = SITE "V10" LEVEL 1;
COMP "FPGAGCLK1" LOCATE = SITE "V9" LEVEL 1;
COMP "DioPort<1>" LOCATE = SITE "T2" LEVEL 1;
COMP "DioPort<2>" LOCATE = SITE "U1" LEVEL 1;
COMP "DioPort<3>" LOCATE = SITE "T1" LEVEL 1;
COMP "DioPort<4>" LOCATE = SITE "U2" LEVEL 1;
COMP "DioPort<5>" LOCATE = SITE "N1" LEVEL 1;
COMP "DioPort<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "DioPort<7>" LOCATE = SITE "N2" LEVEL 1;
COMP "DioPort<8>" LOCATE = SITE "P1" LEVEL 1;
COMP "DioPort<9>" LOCATE = SITE "L1" LEVEL 1;
COMP "FPGAAddr<10>" LOCATE = SITE "V12" LEVEL 1;
COMP "FPGAAddr<11>" LOCATE = SITE "T12" LEVEL 1;
COMP "FPGAAddr<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "FPGAAddr<13>" LOCATE = SITE "U15" LEVEL 1;
COMP "FPGAAddr<14>" LOCATE = SITE "V16" LEVEL 1;
COMP "FPGAAddr<15>" LOCATE = SITE "U16" LEVEL 1;
COMP "FPGAData<10>" LOCATE = SITE "P12" LEVEL 1;
COMP "FPGAData<11>" LOCATE = SITE "U13" LEVEL 1;
COMP "FPGAData<12>" LOCATE = SITE "V13" LEVEL 1;
COMP "FPGAData<13>" LOCATE = SITE "U10" LEVEL 1;
COMP "FPGAData<14>" LOCATE = SITE "R8" LEVEL 1;
COMP "FPGAData<15>" LOCATE = SITE "T8" LEVEL 1;
COMP "FPGAAddr<0>" LOCATE = SITE "V6" LEVEL 1;
COMP "FPGAAddr<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "FPGAAddr<2>" LOCATE = SITE "V7" LEVEL 1;
COMP "FPGAAddr<3>" LOCATE = SITE "U7" LEVEL 1;
COMP "FPGAAddr<4>" LOCATE = SITE "T7" LEVEL 1;
COMP "FPGAAddr<5>" LOCATE = SITE "V8" LEVEL 1;
COMP "FPGAAddr<6>" LOCATE = SITE "U8" LEVEL 1;
COMP "FPGAAddr<7>" LOCATE = SITE "V11" LEVEL 1;
COMP "FPGAAddr<8>" LOCATE = SITE "U11" LEVEL 1;
COMP "FPGAAddr<9>" LOCATE = SITE "T11" LEVEL 1;
COMP "FPGAData<0>" LOCATE = SITE "R13" LEVEL 1;
COMP "FPGAData<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "FPGAData<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "FPGAData<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "FPGAData<4>" LOCATE = SITE "V5" LEVEL 1;
COMP "FPGAData<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "FPGAData<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "FPGAData<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "FPGAData<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "FPGAData<9>" LOCATE = SITE "P6" LEVEL 1;
SCHEMATIC END;

